h1 h4 {
  font-family: 'Cabin', arial;
}

body {
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQImWNgYGD4//8MAjMgc1AEYCoxVAAAUNMpCwzagpoAAAAASUVORK5CYII=
  ) repeat;
}

.icon-links a {
  padding-right: 11px;
  color: inherit;
}

a:visited {
  color: inherit;
}

.primary {
  margin-top: 5%;
}
