h1 {
  font-family: 'Cabin', arial;
}

h3 {
  font-family: 'Cabin', arial;
  font-weight: 600;
  margin-top: 0px;
}

body {
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQImWNgYGBo+H+G4T8MMyBzUARgKjFUAAAmKSgNGe21xgAAAABJRU5ErkJggg==
  ) repeat;
}

a {
  color: black;
}

.icon-links a {
  padding-right: 11px;
  color: black;
}

a:visited {
  color: black;
}

.primary {
  margin-top: 5%;
}
